.mainCircle {
  border-radius: 50%;
  transition: all 0.8s;
  width: 300px;
  margin: 20px auto;
  padding: 6px;
  /*border: 2px solid;*/
  /*box-shadow: 0 0 30px #00000011, inset 0 0 30px #00000011;*/
}

.mainCircle.good {
  /*border-color: var(--color-positive);*/
  background-color: var(--color-positive);
}

.mainCircle.ok {
  /*border-color: var(--color-warning);*/
  background-color: var(--color-warning);
}

.mainCircle.bad {
  /*border-color: var(--color-negative);*/
  background-color: var(--color-negative);
}

.mainCircle > div {
  z-index: 30;
  text-align: center;
  font-size: 44px;
  color: white;
  line-height: 1.2;
}
.mainCircle span {
  display: block;
  font-size: 24px;
}

.nowItems {
  margin: 40px 0 0;
  display: flex;
}
