.sC {
  width: 100%;
  border: 1px solid var(--color-info-1);
  border-radius: 5px;
  margin: 10px;
  flex-grow: 1;
  width: 30%;
  min-width: 200px;
}

.sCTop {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 10px 0px;
  border-bottom: 1px solid var(--color-info);
  margin: 0 0 0;
}

.sCChart {
  height: 200px;
  width: 100%;
}
