.siderToggle {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    width: 5px;
    z-index: 30;
    border-right: 0px solid transparent;
    cursor: pointer;
    transition: all .2s;
}

.siderToggle:hover {
    width: 5px;
    border-right: 5px solid rgba(255,255,255,.5);
}