:root {
  --color-negative: #eb1c4c;
  --color-negative-1: #f26d8c;
  --color-negative-2: #ed446c;
  --color-negative-3: #c6002e;
  --color-negative-4: #9c0024;

  --color-warning: #ffa51f;
  --color-warning-1: #ffc773;
  --color-warning-2: #ffb649;
  --color-warning-3: #d88100;
  --color-warning-4: #aa6600;

  --color-info: #1f62a7;
  --color-info-1: #6294c7;
  --color-info-2: #3d77b3;
  --color-info-3: #0b4a8c;
  --color-info-4: #073a6e;

  --color-positive: #64df1b;
  --color-positive-1: #9aeb6a;
  --color-positive-2: #7ee441;
  --color-positive-3: #46bd00;
  --color-positive-4: #379400;
}

.siderToggle {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  width: 5px;
  z-index: 30;
  border-right: 0px solid transparent;
  cursor: pointer;
  transition: all 0.2s;
}

.siderToggle:hover {
  width: 5px;
  border-right: 5px solid rgba(255, 255, 255, 0.5);
}
